<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.snowdog.dzialajlokalnie" >

    <!-- Creating Permission to receive Google Maps -->
    <permission
        android:name="pl.snowdog.dzialajlokalnie.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- Permission to receive Google Maps -->
    <uses-permission android:name="pl.snowdog.dzialajlokalnie.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".DlApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="AA_DB_NAME"
            android:value="dzialajlokalnie.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="15" />
        <meta-data
            android:name="AA_MODELS"
            android:value="pl.snowdog.dzialajlokalnie.model.Category, pl.snowdog.dzialajlokalnie.model.Comment, pl.snowdog.dzialajlokalnie.model.District, pl.snowdog.dzialajlokalnie.model.Event, pl.snowdog.dzialajlokalnie.model.Issue, pl.snowdog.dzialajlokalnie.model.Session, pl.snowdog.dzialajlokalnie.model.User" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDEAHUJBu41zIFpk-kdVXMhCOw-DEAVzAQ" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".ImageZoomActivity_"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".AboutActivity_"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".SettingsActivity_"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".AddIssueActivity_"
            android:label="@string/new_issue"
            android:parentActivityName=".MainActivity_"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
            android:name=".AddEventActivity_"
            android:label="@string/new_event"
            android:parentActivityName=".MainActivity_"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
            android:name=".SplashActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity_"
            android:label="@string/login_label"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
            android:name=".AddBaseActivity_"
            android:label="@string/new_event"
            android:parentActivityName=".MainActivity_"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>


        <activity
            android:name=".AddUserActivity_"
            android:label="@string/sign_up"
            android:parentActivityName=".MainActivity_"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
            android:name=".AddUserFacebookActivity_"
            android:label="@string/sign_up"
            android:parentActivityName=".MainActivity_"
            >
        </activity>

        <activity
            android:name=".DetailsActivity_"
            android:label="@string/title_activity_issue"
            android:parentActivityName=".MainActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.snowdog.dzialajlokalnie.MainActivity_" />
        </activity>


        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="pl.snowdog.dzialajlokalnie" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name="pl.snowdog.dzialajlokalnie.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="pl.snowdog.dzialajlokalnie.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="pl.snowdog.dzialajlokalnie.gcm.RegistrationIntentService_"
            android:exported="false">
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="615ea27860850a4aa9d0fac3b4f4186b2477c24c" />
    </application>

</manifest>
